
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Inter:wght@200&family=Montserrat:wght@500&family=Pacifico&family=Sono&display=swap');

*{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
}
a{
    text-decoration: none;
}
html, body {
    /* z-index: 0; */
    position: relative;  
    background: linear-gradient(250.2deg, rgba(146, 216, 255, 0.2) -26.92%, rgba(55, 85, 107, 0.2) 22.92%, rgba(9, 19, 33, 0.2) 108.63%), linear-gradient(107.55deg, #000000 -20.49%, #030A11 107.38%, #001026 107.52%);
    background-repeat: no-repeat;
    max-width: 100vw;
    height: 100%;

}
.body-content{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}
.heading{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 1000px;
    width: 100%;
}
.heading-logo img{
    width: 120px;
    height: 120px;
}
nav {
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
    align-items: center;
}
.heading-button-a{
    margin: 0 20px;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}
.main{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 80px;
}
.main-name{
    color:rgb(255, 255, 255);
    font-size: 67px;
    font-weight: lighter;
    margin: 0px;
}
.typewrite{
    color: rgba(167, 189, 216, 0.73);
    font-size: 27px;
    font-weight: lighter;
    margin-bottom: 30px;
}
.main-button {
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.73);
    background-color: #223440;
    border-radius: 10PX;
    transition: 0.2s;
    margin-top: 20px
}
.main-button:hover{
    background-color: #172630;
}
.footer{
    box-sizing: border-box;
    padding: 0 32px;
    max-width: 1000px;
    max-height: 100%;

    margin-left: auto;
    margin-right: auto;
}
.footer-img{
    width: 1200px;
    display: flex;
    width:100%;
    align-items: flex-end;

}
.footer .footer-img img{
    width: 100%;
    margin-bottom: -400px;
    box-sizing: border-box;
    mix-blend-mode: luminosity;
    border: 1px solid #A78484;
    box-shadow: 0px 4px 80px 10px rgba(255, 255, 255, 0.38);
    border-radius: 10px;
    border: none;
}
@media (min-width: 450px) and (max-width: 1120px){
    .main-name{
        font-size: 50px;
    }
}